.museums {
    background-color: rgba(0, 0, 0, 0.07);
    padding-top: 50px;
    padding-bottom: 50px;
}
.museums__title {
    font-weight: 400;
    text-align: center;
    color: black;
    opacity: 80%;
    margin-top: 0;
    margin-bottom: 50px;
}
.museums__container {
    max-width: 1000px;
    margin: auto;
    padding: 0;
}
.museums__item {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 720px) {
    .museums__item {
      flex-direction: column;
    }
  }

.museums__item-link {
    padding: 10px;
    margin: auto;
    display: flex;
    max-width: 400px;
    margin-bottom: 20px;
    align-self: center;
}

.museums__item-all-museums-link {
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid black;
    opacity: 0.5;
    color: black;
    width: 400px;
    height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.museums__item-all-museums-link:hover {
    border: 1px solid black;
    background-color: black;
    color: #fff;
    opacity: 1;
}

.museums__pic {
    width: 300px;
    height: 250px;
    border-radius: 30px;
    margin-right: 20px;
    object-fit: cover;
}

@media screen and (max-width: 720px) {
    .museums__pic {
        width: calc(100% - 10px);
        height: 300px;
    }
  }
.museums__text-container {

}
.museums__text {
  opacity: 0.7;
  font-weight: 400;
}

.museums__name {
  font-weight: 600;
}

.museums__link {
    text-decoration: none;
    color: black;
}

.museums__link:hover {
    opacity: 0.7;
}

.museums__item-all-musems-link {
    text-decoration: none;
    color: black;
}
